<!--<div class="map"><iframe src="https://www.google.com/maps/d/u/0/embed?mid={{ include.id }}" title="{{ include.title | default: 'Map' }}"></iframe></div>-->


<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.90538406744!2d126.79739812842386!3d37.48655907190663!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b62c22341bd79%3A0x13730f14a1fc72e!2sThe%20Catholic%20University%20of%20Korea%20(Songsim)!5e0!3m2!1sen!2skr!4v1676096323436!5m2!1sen!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
