// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #05bf85 !default;

// Text colours
// $headingColour: #242e2b !default;
// $bodyColour: #384743 !default;
// $headingColour: #0C2E86 !default; //catholic main
$cukColour: #0C2E86;
$headingColour: #081E5A !default;
$bodyColour: #242D43 !default;
$linkColour: #0C2E86 !default;
$hoverColour: #4471EC !default;
$focusColour: #fa407a !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

// Typography
$bodytype: (
//   font-family: "Georgia, serif",
  font-family: "Tahoma, 굴림체",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Merriweather", monospace',
//   font-family: '"Tahoma", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.76
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// TIP: Load custom fonts in _config.yaml
